In [1]:
import os
os.listdir()

['web.py',
 'Untitled.ipynb',
 'data.csv',
 '.gitattributes',
 'templates',
 '.ipynb_checkpoints',
 'venv',
 '.git',
 'drbw.py',
 '.idea']

In [2]:
import pandas

In [3]:
df1 = pandas.read_csv("data.csv")

In [4]:
df1

   S No           Application  capacity  change  rpo  change_gb
0      1  Kaspersky Antivirus       500    0.01   30        NaN
1      2            VDP_Night      1000    0.02   30        NaN
2      3               Bacula      1500    0.05   30        NaN

In [5]:
df2 = df1

In [6]:
df2

   S No           Application  capacity  change  rpo  change_gb
0      1  Kaspersky Antivirus       500    0.01   30        NaN
1      2            VDP_Night      1000    0.02   30        NaN
2      3               Bacula      1500    0.05   30        NaN

In [10]:
df2['change_gb'] = df2['capacity'] * df2['change']
df2['bw'] = (df2['change_gb']*8*1000) / (df2['rpo']*60)

In [11]:
df2

   S No           Application  capacity  change  rpo  change_gb          bw
0      1  Kaspersky Antivirus       500    0.01   30        5.0   22.222222
1      2            VDP_Night      1000    0.02   30       20.0   88.888889
2      3               Bacula      1500    0.05   30       75.0  333.333333

In [12]:
df2['fr'] = (df2['capacity']*8*1000)/ df2['bw']

In [13]:
df2

,S No,Application,capacity,change,rpo,change_gb,bw,fr
0,1,Kaspersky Antivirus,500,0.01,30,5.0,22.222222,180000.0
1,2,VDP_Night,1000,0.02,30,20.0,88.888889,90000.0
2,3,Bacula,1500,0.05,30,75.0,333.333333,36000.0

In [14]:
df3 = df2

df2

In [15]:
df3

,S No,Application,capacity,change,rpo,change_gb,bw,fr
0,1,Kaspersky Antivirus,500,0.01,30,5.0,22.222222,180000.0
1,2,VDP_Night,1000,0.02,30,20.0,88.888889,90000.0
2,3,Bacula,1500,0.05,30,75.0,333.333333,36000.0

In [24]:
df3['fr'] =df3['fr'].astype(float)

In [30]:
df3['dd'] = pandas.to_timedelta(df3['fr'], unit='s')

In [31]:
df3

,S No,Application,capacity,change,rpo,change_gb,bw,fr,dd
0,1,Kaspersky Antivirus,500,0.01,30,5.0,22.222222,180000.0,2 days 02:00:00
1,2,VDP_Night,1000,0.02,30,20.0,88.888889,90000.0,1 days 01:00:00
2,3,Bacula,1500,0.05,30,75.0,333.333333,36000.0,0 days 10:00:00

In [32]:
df3.to_csv('data_out.csv', encoding='utf-8',index=False)